/*
 * This Source Code Form is subject to the terms of the Mozilla Public
 * License, v. 2.0. If a copy of the MPL was not distributed with this
 * file, You can obtain one at http://mozilla.org/MPL/2.0/.
 *
 * This Source Code Form is "Incompatible With Secondary Licenses", as
 * defined by the Mozilla Public License, v. 2.0.
 */

#brief-button {
    list-style-image: url(chrome://brief/skin/toolbarbutton.png);
    -moz-box-align: center;
    -moz-box-orient: horizontal;
}

toolbar[iconsize=small] #brief-button {
    list-style-image: url(chrome://brief/skin/feed-icon-16x16.png);
}

#brief-button .toolbarbutton-icon {
    -moz-margin-end: 0;
}

.brief-status-counter {
    margin: 0;
}

#brief-tooltip-last-updated {
  margin-bottom: 0.75em;
}

#brief-tooltip-no-unread {
  font-weight: bold;
}

#brief-tooltip-feed-name {
  max-width: 15em;
}

.unread-entries-count {
  font-weight: bold;
  margin-right: 0px;
}
